<div (mouseover)="viewTitle($event)" class="cell"  [ngClass]="cell.getAssignedValue() === 0 ? 'error' : ''"> 
    <!-- <span class="cell-position-number">{{position}}</span> -->
    <span>{{cell.getAssignedValue() || ''}}</span>
</div> 
