.cell {
  position: relative;
  text-align: center;
  line-height: 100%;
  width: 100%;
  height: 100%;
  line-height: 200%;
  display: block;
  font-weight: bold;
  color: rgb(70, 70, 70);  
  border: solid rgb(216, 216, 216) 1px; 

  .cell-position-number {
    font-size: 8px;
    position: absolute;
    top: -10px;
    left: 2px;
    color: rgba(0, 0, 0, 0.278);
  }
}

// For Error cases
.error {
  background-color: rgba(255, 0, 0, 0.203);
}
