.puzzle-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .puzzles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    margin: auto;

    .board-component {
      width: 300px;
      height: 300px; 
    }

    > div{
        display: flex; 
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
  }
}



.form-container {
  width: 100%;
  padding: 20px;
  text-align: right !important;
  display: flex;
  justify-content: flex-end;

  form {
    width: 400px;
    // display: flex;
    // direction: row;
    // align-items: center;
        // justify-content: center;

  }
}
