<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3 class="title">
    Welcome to {{ title | uppercase }}!
  </h3>
  <small id="emailHelp" class="form-text text-muted">by {{author}}</small>
</div>

<div class="form-container">
  <form (submit)="onData($event);">
    <div class="form-group">
      <label for="input">Puzzle values</label>
      <input class="form-control input" type="text" [value]="currentData" id="input">
      <small id="emailHelp" class="form-text text-muted">Enter values in the form "..#.." or "###".</small>
    </div>

    <button class="btn btn-primary" (click)="submit">Assign!</button>
  </form>
</div>

<div class="puzzle-container">
  <div class="puzzles">

    <!-- Main Board -->
    <app-board [board]="boardInitial" class="board-component"></app-board>

    <div>
      <button class="btn btn-secondary" (click)="solve()">Solve</button>
    </div>
    <!-- Solution Board -->
    <app-board [board]="solution" class="board-component"></app-board>

  </div>
</div>

<router-outlet></router-outlet>
