<div class="section">
    <!-- for each board section cell entry - create bard component and bind its data to it -->
    <app-board-cell class='cell-component' *ngFor="let cell of unit.cells" [cell]="cell" ></app-board-cell>
</div> 