<div class="board">
  <!-- for each board section 3x3 entry - create bard component and bind its data to it -->
  <app-board-section class="section-component" *ngFor="let unit of board.getBoxUnits()" [unit]="unit" ></app-board-section>
</div> 